<div class="mb-4 mt-4" data-controller="previews">
  <%= form.label :menu_images, "Attach menu photos:", class: "block mb-2 text-lg font-medium text-gray-900" %>

  <!-- Hidden fields for existing images -->
  <% @menu_item.menu_images.each do |image| %>
    <%= form.hidden_field :menu_images, multiple: true, value: image.signed_id %>
  <% end %>

  <!-- File input for new images -->
  <%= form.file_field :menu_images, accept: 'image/png,image/gif,image/jpeg,image/webp',
                      multiple: true,
                      direct_upload: true,
                      data: { previews_target: "input", action: "change->previews#preview" }, class: "w-full p-2 border border-gray-300 rounded-md shadow-sm" %>

  <div data-previews-target="preview" class="flex flex-wrap justify-center mt-4 border border-dashed border-gray-300 rounded-md p-4">

    <p>No images attached</p>
  </div>
</div>