<div class="mb-4" data-controller="previews">
  <%= form.label :menu_images, "Attach menu photos:", class: "block mb-2 text-sm font-medium text-gray-900" %>
  <%= form.file_field :menu_images, accept: 'image/png,image/gif,image/jpeg,image/webp',
                      multiple: true,
                      direct_upload: true,
                      data: { previews_target: "input", action: "change->previews#preview" }, class: "w-full p-2 border border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring-blue-500" %>

  <div data-previews-target="preview" class="flex flex-wrap justify-center mt-4 border border-dashed border-gray-300 rounded-md p-4"> <!-- Dedicated area for image previews -->
    <% if menu_item.menu_images.attached? %>
      <div class="flex flex-row flex-wrap justify-center"> <!-- Adjusted to ensure images are side by side -->
        <%= image_tag menu_item.menu_images, data: { previews_target: "preview" }, class: "image w-32 h-auto object-contain rounded mx-2 mb-2" %>
      </div>
    <% else %>
      <p class="text-gray-500">No images available</p>
    <% end %>
  </div>
</div>
