/* app/assets/stylesheets/application.tailwind.css */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "actiontext";

/*below styling is for showing rich text*/
.rich-text-editor ul {
    list-style-type: disc; /* or circle, square, etc. */
}

.rich-text-editor ol{
    list-style-type: decimal;
}

/*a {*/
/*    color: #1d4ed8;*/
/*    text-decoration: underline;*/
/*}*/

/*a:hover {*/
/*    color: #2563eb;*/
/*    text-decoration: underline;*/
/*}*/

/*h1 {*/
/*    font-size: 2em;*/
/*    font-weight: bold;*/
/*    margin-top: 1em;*/
/*    margin-bottom: 0.5em;*/
/*}*/

/*h2 {*/
/*    font-size: 1.75em;*/
/*    font-weight: bold;*/
/*    margin-top: 1em;*/
/*    margin-bottom: 0.5em;*/
/*}*/

/*h3 {*/
/*    font-size: 1.5em;*/
/*    font-weight: bold;*/
/*    margin-top: 1em;*/
/*    margin-bottom: 0.5em;*/
/*}*/

/*h4 {*/
/*    font-size: 1.25em;*/
/*    font-weight: bold;*/
/*    margin-top: 1em;*/
/*    margin-bottom: 0.5em;*/
/*}*/

/*h5 {*/
/*    font-size: 1em;*/
/*    font-weight: bold;*/
/*    margin-top: 1em;*/
/*    margin-bottom: 0.5em;*/
/*}*/

/*h6 {*/
/*    font-size: 0.875em;*/
/*    font-weight: bold;*/
/*    margin-top: 1em;*/
/*    margin-bottom: 0.5em;*/
/*}*/



/*this is swiper left-right button height and width*/
.swiper {
    width: 600px;
    height: 300px;
}

/*this is for styling progress bar (from default blue to sky blue)*/
.turbo-progress-bar {
    height: 5px;
    background-color: #07b0ff;
}


/*application.html.erb*/
.custom-space-x-8>:not([hidden])~:not([hidden]) {
    --tw-space-x-reverse: 0;
}